$primary: #0D3152;
$primary-light: #0B3F6E;

$secondary: #FEC400;
$secondary-light: #FEC40080;

$accent: #269C9D;

$highlight: #D22626;

$text-dark: #424F5A;
$text-primary: #FFFFFF;
$text-secondary: #0D3152;
$text-accent: #FFFFFF;

$color-white  : #FFFFFF;  // Background Table
$color-gray-5 : #F9FBFC;  // Background
$color-gray-10: #F6F7F8;
$color-gray-20: #EEEFF1;
$color-gray-30: #E6E8EB;  // Border
$color-gray-50: #ACB3B9;

$color-red-60: #D9455F;

$color-error   : #FF5252;
$color-success : #4CAF50;
$color-disabled: rgba(0, 0, 0, 0.38);

$color-blue-steel: #596874;

$extra1: #EFF5F5;
$extra2: #BCDCDC;
$extra3: #E9F1FB;
$extra4: #D5D5D5;
$extra5: #155172;
$extra6: rgba(234, 196, 53, 0.53);
$extra7: #444564;
$extra8: #F7EFD2;
$extra9: #2B3A67;
$extra10: #92979F;
$extra11: #6A6A6A;
$extra12: #EAC435;

$extra13: #1885E9;