input:disabled {
    background-color: #f1f1f1; /* Cambia el fondo a un color gris */
    color: #888; /* Cambia el color del texto a gris */
    border: 1px solid #ddd; /* Agrega un borde gris */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  }