input:disabled {
    background-color: #f1f1f1; /* Cambia el fondo a un color gris */
    color: #888; /* Cambia el color del texto a gris */
    border: 1px solid #ddd; /* Agrega un borde gris */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  }

.input-error {
  border: 2px solid red; /* Borde rojo */
  background-color: #ffe8e8; /* Fondo rojo claro */
  color: red; /* Texto en rojo */
}

/* Estilos para los mensajes de error */
.error {
  color: red; /* Texto en rojo */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 5px; /* Espacio superior */
}